html{
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-size: 80%;
}

*, *:after, *:before{
  box-sizing: inherit;
}

.companies-container{
  text-align: center;
}

.employees-container{
  text-align: center;
}

#Post-Form{
  text-align: center;
}

#Post-Form button{
  margin: 1rem;
}